.textColor {
  color: #1386ed;
}
@media screen and (max-width: 1080px) {
  .price__list__client {
    width: 93%;
    .title__price__list__client {
      font-weight: 500;
      margin-top: 5px;
    }
    .content__price__lisst {
      margin-top: 0px;
    }
    .box__price__list__client {
      p {
        font-size: 15px;
      }
      a {
        font-size: 14px;
      }
    }
    .box__basis__client__pricelist {
      .item {
        width: 100% !important;
      }
    }
    .select__price__list__clietn {
      margin-bottom: 15px;
    }
  }
}
@media screen and (max-width: 475px) {
}
