.contact__client {
  .textColor {
    color: #1386ed;
  }
  .myImage {
    position: relative;
    img {
      position: absolute;
      width: 85%;
      height: 350px;
    }
    :first-child {
      top: 50px;
    }
    :last-child {
      top: 0;
      left: 50px;
    }
  }
  .contact {
    background: linear-gradient(#dcedff, white);
  }
  .block {
    width: 100%;
    .left {
      max-width: 50%;
      background-color: red;
    }
    .right {
      width: 60%;
    }
  }
}

@media screen and (max-width: 1080px) {
  .myImage {
    position: relative;
    img {
      position: absolute;
      width: 80%;
      height: 400px;
    }
    :first-child {
      top: 50px;
    }
    :last-child {
      top: 0;
      left: 50px;
    }
  }
  .contact {
    background: linear-gradient(#dcedff, white);
  }
  .flex {
    .left {
      max-width: 40%;
    }
    .right {
      width: 60%;
      p {
        letter-spacing: 0.4px;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .contact__client {
    .my-12 {
      margin-top: 10px;
    }
    .w-wd-primary {
      width: 94%;
    }
    .myImage {
      height: 300px;
      img {
        width: 80%;
        height: 100%;
      }
    }
    .flex {
      width: 100%;
      .left {
        max-width: 100%;
      }
      .right {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .contact__client {
    .contact {
      .py-16 {
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .contactInfo {
        .info {
          p {
            white-space: wrap;
          }
        }
      }
    }
    // .my-12{
    //   margin: 0px 6px;
    // }
    .w-wd-primary {
      width: 92%;
    }
    .myImage {
      height: 250px;
      img {
        width: 100%;
        height: 100%;
      }
      :first-child {
        left: 0px;
        top: 0px;
      }
      :last-child {
        top: 0;
        left: 0px;
      }
    }
    .flex {
      width: 100%;
      .left {
        img:nth-child(1) {
          display: none;
        }
        img:nth-child(2) {
        }
        width: 100%;
      }
      .right {
        h3 {
          margin-bottom: 6px;
        }
        width: 100%;
      }
    }
  }
}
