.detailDoctor {
  p {
    margin: 10px 0;
  }
}
.home__client {
  .blur-3xl {
    filter: blur(250px);
  }
  .handleShadow {
    box-shadow: #a2cbf6 -12px 12px 0px 5px;
  }
  .text-right {
    margin-top: 10px;
  }
  .slick-dots {
    bottom: -15px !important;
    z-index: 1;
    li {
      background-color: #aaa;
    }
    .slick-active {
      button {
        background-color: #1386ed !important;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .home__client {
    .text-right {
      margin-top: 10px;
    }
    .handleShadow {
      box-shadow: #c0d6ed 0px 5px 0px 2px;
    }
    .shadow-xl {
      box-shadow: 0 0 0 5px #c0d6ed;
    }
  }
}
