@media screen and (max-width: 1080px) {
  .home__client {
    .text-right {
      margin-top: 10px;
    }
    .shadow-xl {
      box-shadow: #c0d6ed 0px 0px 0px 5px;
    }
    .slick-dots {
      bottom: 0 !important;
      li {
        background-color: #aaa;
      }
      .slick-active {
        button {
          background-color: #1386ed !important;
        }
      }
    }
  }
}

.handleShadow {
  box-shadow: #a2cbf6 -12px 12px 0px 5px;
}

@media screen and (max-width: 380px) {
  .home__client {
    .handleShadow {
      box-shadow: #c0d6ed 0px 5px 0px 2px;
    }
  }
}
@media screen and (max-width: 475px) {
   .home__client{
        .text-right{
            margin-top: 10px;
        }
       .shadow-xl{
        box-shadow: #c0d6ed 0px 0px 0px 5px;
      }
   }
}
.blur-3xl {
    filter: blur(250px); /* Điều chỉnh giá trị "blur-radius" tại đây */
  }
