.top5ServiceCarousel {
  .slick-active {
    button {
      background-color: #1386ed !important;
    }
  }
  .slick-dots {
    z-index: 1;
  }
  .slick-prev {
    inset-inline-start: 0px;
    &::before {
      content: "";
    }
  }
  .slick-next {
    inset-inline-end: 0px;
    &::before {
      content: "";
    }
  }
}
