.textColor {
  color: #1386ed;
}
img {
  // margin: 15px 0;
}
.toggle-title {
  img {
    margin: 0;
    width: 25px;
    height: 25px;
  }
}
.data {
  position: relative;
  height: 300px;
  .background {
    height: 100%;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .overlay {
    top: 0;
    position: absolute;
    background-color: #dcedff;
    height: 100%;
    width: 100%;
    opacity: 0.7;
  }
  .showData {
    width: 100%;
    top: 0;
    position: absolute;
    .item {
      height: 125px;
      width: 175px;
      background-color: white;
    }
  }
}
.certificate {
  width: 70%;
  margin: 0 auto;
  img {
    margin: 15px 0;
  }
}
.reason {
  .left {
    img {
      margin: 15px 0;
    }
  }
}

@media (max-width: 550px), (max-width: 380px) {
  .certificate {
    width: 40%;
  }
  .data {
    background-image: none;
    height: 1000px;
    .showData {
      left: 0%;
    }
  }
}
