.right {
  .search {
    position: relative;
    svg {
      position: absolute;
      right: 10px;
      top: 7px;
    }
  }
}
.news {
  width: 45%;
  img {
    margin: 0;
  }
}

@media screen and (max-width: 1080px){
  .news__client{
    .blogs{
      .showBlog{
        h3{
          font-size: 16px;
        }
        .content{
          .content__showBlog{
            font-size: 14px;
          }
          .date__showBlog{
            font-size: 10px !important;
          }
        }
      }
    }
    .quantity{
      font-size: 14px;
    }
    .content__client{
      h3{
        font-size: 21px;
      }
      .news{
        h3{
          font-size: 18px;
        }
        a{
          p,div{
            font-size: 14px;
          }
        }
      }
    }
    .w-wd-primary{
      width: 94%;
    }
    .my-6{
      margin-top: 10px;
      .text-base{
        font-size: 14px;
      }
    }
    .news {
      width: 100%;
    }
  }
}
@media screen and (max-width: 500px) {
  .news__client{
    .blogs{
      .showBlog{
        h3{
          font-size: 16px;
        }
        .content{
          .content__showBlog{
            font-size: 14px;
          }
          .date__showBlog{
            font-size: 10px !important;
          }
        }
      }
    }
    .quantity{
      font-size: 14px;
    }
    .content__client{
      h3{
        font-size: 21px;
      }
      .news{
        h3{
          font-size: 18px;
        }
        a{
          p,div{
            font-size: 14px;
          }
        }
      }
    }
    .w-wd-primary{
      width: 92%;
    }
    .my-6{
      margin-top: 10px;
      .text-base{
        font-size: 14px;
      }
    }
    .news {
      width: 100%;
    }
  }
}
